.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 24px;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45vw;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid #e5e5e5;
  &:hover {
    box-shadow: 5px 7px 8px 4px #6c6a6a;
  }
}

.projectTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.pic {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.path {
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 16px;
}

.subtitle {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}
