.header {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  margin-bottom: 60px;
}

.photo {
  width: 25vw;
  margin: 0 auto;
}

.text {
	* {
		padding: 16px;
	}
}
