.contacts {
  background-color: #f2eef6;
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.adress {
  margin-bottom: 24px;
  font-weight: bold;
}
