.contactClass {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  a {
	  text-decoration: none;
	  font-weight: bold;
	  display: block;
	  color: #000000;
  }
}

.pic {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}
